.container-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 120px;
  .container-content__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
  }
  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
}
